

body {
    background-image: url("../img/spa.jpg");

}

.base-body {
    background-image: url('{% static "img/spa.jpg"%}');
    background-size: auto;
}

.post-item {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 20px 20px 20px 20px;
    background-color: #91d2c8;

}

.post-list {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.post-image {
    border-radius: 10px 10px 10px 10px;
}

.error-404 {
    background-color: #91d2c8;
}

.search {
    display: flex;
    justify-content: end;
    margin-right: -9px;
}

.filters {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    margin-top: 22px;
    font-family: ui-rounded;
    background-color: #a0e9fb;
}

.date {
    display: flex;
    justify-content: center;
    background-color: #cbbfe1;
}



