

body {
    background-image: url("../img/night.jpg");
    background-size: cover;
}

.spa-3 {
    display: flex;
    justify-content: center;
}

.base-body {

}

.post-item {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 20px 20px 20px 20px;
    background-color: #91d2c8;

}

.post-list {
    display: flex;
    justify-content: center;
    gap: 50px;
    box-shadow: 0px 20px 20px 4px;
    margin-left: 20px;
    margin-right: 20px;

}

.post-image {
    border-radius: 10px 10px 10px 10px;
}

.error-404 {
    background-color: #91d2c8;
}

.search {
    display: flex;
    justify-content: end;
    margin-right: -9px;
}

.filters {
    display: flex;
    justify-content: flex-end;
    font-family: cursive;
    font-family: ui-rounded;
    ;
}

.date {
    display: flex;
    justify-content: center;
    background-color: #cbbfe1;
    font-family: cursive;
    border-radius: 20px;
    box-shadow: 0px 20px 20px 4px;
    margin-right: 500px;
    margin-left: 500px;
}

.pagination {
    margin-left: 30px;
    color: aquamarine;
}

.bg-light {
    background-color: #ad76d9 !important;
}

.post-detail {
    margin-left: 100px;
    margin-top: 30px;
    background-color: beige;
    width: 800px;
    height: 500px;
    border-radius: 20px;
}

.post-info {

}